<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-light">About Us</h4>
        <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel mauris ut tellus molestie vehicula vel in mauris.</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-light">Contact Us</h4>
        <p class="text-light">Email: vinay3000111@gmail.com<br>Phone: 7390016161</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-light">Follow Us</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="#" class="text-light"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="#" class="text-light"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

