
  <nav class="navbar">
      <div class="logo">LOGO</div>

      <ul class="nav-links">



      <div class="menu">

        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contect">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin">Admin</a>
        </li>
      </div>
      </ul>
    </nav>

<router-outlet></router-outlet>
