

<div class="container">

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

      <div class="address-box">
        <h2>Shipping Address</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>

          <label for="address">Address:</label>
          <textarea id="address" name="address" required></textarea>

          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>

          <label for="state">State:</label>
          <input type="text" id="state" name="state" required>

          <label for="zip">Zip Code:</label>
          <input type="text" id="zip" name="zip" required>

          <button type="submit">Submit</button>
        </form>
      </div>



    </div>

    <div class="col-md-4 balence">
      <div class="payment-box">
        <h2>Payment Details</h2>
        <form>
          <label for="name">Cardholder Name:</label>
          <input type="text" id="name" name="name" required>

          <label for="card-number">Card Number:</label>
          <input type="text" id="card-number" name="card-number" required>

          <label for="expiration-date">Expiration Date:</label>
          <input type="text" id="expiration-date" name="expiration-date" placeholder="MM / YY" required>

          <label for="cvv">CVV:</label>
          <input type="text" id="cvv" name="cvv" required>

          <button type="submit" (click)="goToHistory()">Submit Payment</button>
        </form>
      </div>



    </div>
  </div>

</div>
