
.btn{
  margin: 3px;
}

.left-side{
  width: 100%;

  text-align: center;
}

.btn1{
  background:none;
  color: black;
  border: none;
  margin: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  width: 100px;
  border-radius: 20px;
}
.btn:hover{
  background-color: red;
}

.btn1:hover{
  background-color: red;
}

.view :nth-child(0){
  background-color: pink;
}

.view{
  margin-top: 5px 20px 5px 0px;

  display: grid;
  grid-template-columns: 15% 85%
}
/*
.row button{
  width: 100%;
} */


#main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  width: 90%;
  margin: auto;


}

.grouping{
  display: grid;
  grid-template-columns: repeat(2,1 fr);
}


.alert{
  background-color: rgb(214, 71, 71);
  color: white;
  display: flex;
  gap: 60%;

}

.alert button{
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}


.form-disign{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}




.heading{
  text-align: center;
  margin: 10px;
  color: cadetblue;
}
