.card {
  margin-bottom: 20px;
}

.img{
  width: 270px;
  height: 310px;
  object-fit: cover;
}

.rating {
  color: #ffc107;
}


#main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  width: 90%;
  margin: auto;


}

