<section class="jumbotron top">
  <div class="container">
    <h1 class="display-4">Welcome to our Pharmacy</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae
      augue non est malesuada ullamcorper sit amet in turpis. Donec a eros
      interdum, porttitor metus eu, maximus odio.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Learn more</a>
  </div>
</section>

<!-- Features -->
<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <i class="fas fa-prescription-bottle-alt feature-icon"></i>
          <h2>Quality Medicine</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            vitae augue non est malesuada ullamcorper sit amet in turpis.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <i class="fas fa-truck feature-icon"></i>
          <h2>Fast Delivery</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            vitae augue non est malesuada ullamcorper sit amet in turpis.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <i class="fas fa-hand-holding-usd feature-icon"></i>
          <h2>Affordable Prices</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            vitae augue non est malesuada ullamcorper sit amet in turpis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Us -->
<section class="about">
  <div class="container">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae
      augue non est malesuada ullamcorper sit amet in turpis. Donec a eros
      interdum, porttitor metus eu, maximus odio. Nunc vel ligula id nulla
      interdum malesuada. Praesent vulputate, massa vel finibus fringilla,
      mauris eros semper orci, vel malesuada magna lacus nec lorem. Duis
      ultricies lectus est, vitae lacinia massa lacinia et. Donec rhoncus lorem
      at velit rutrum sagittis.
    </p>
    <img
      src="https://media.gettyimages.com/id/1170287898/photo/theres-sure-to-be-a-treatment-around-here-for-you.jpg?s=612x612&w=gi&k=20&c=6yU43dA0ZKPCsaNiWFeKG3mP-wqnQQWQcql72sRy4Ac="
      alt="Pharmacy"
      class="img"
    />
  </div>
</section>

<!-- Contact Us -->
<section class="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <form class="contact-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter your name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea
          class="form-control"
          id="message"
          rows="5"
          placeholder="Enter your message"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
